@import "../../shared/variables.scss";

.StopScroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.DetailPage {
  box-sizing: border-box;
  padding: 140px 0 160px 0;

  .ContentContainer {
    width: 680px;
    margin: 0 auto;

    .ProjectTitle {
      margin-bottom: 8px;
    }

    .Tagline {
      margin-bottom: 48px;
    }

    .Content {
      p {
        margin-bottom: 64px;
        img {
          width: calc(100% + 360px);
          margin-left: -180px;
          cursor: pointer;
        }

        .BlackLayerModal {
          position: fixed;
          cursor: pointer;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($color: $clr-text, $alpha: 0.9);

          .EnlargedImage {
            cursor: default;
            width: auto;
            position: relative;
            margin-left: unset;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }

          .CloseIcon {
            // remove default button styles
            border: none;
            cursor: pointer;
            background: none;
            outline: 0;
            padding: 0;
            //---
            position: fixed;
            top: 24px;
            right: 32px;

            i {
              font-size: 40px;
              color: $clr-white;

              &:hover {
                color: $clr-white-hover;
              }
              &:active {
                color: $clr-white-active;
              }
            }
          }
        }

        a {
          color: $clr-text;
          font-weight: 500;
          text-decoration: none;
          border-bottom: 2px solid $clr-primary;
          transition: color 0.2s;
          -webkit-transition: color 0.2s;

          &:hover {
            color: $clr-primary;
          }

          &:active {
            color: $clr-primary-hover;
            border-bottom: 2px solid $clr-primary-hover;
          }
        }

        &:last-child {
          margin-bottom: 96px;
        }
      }

      h3 {
        margin-bottom: 8px;
        width: 100%;
        font-size: 24px;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  .DetailPage {
    .ContentContainer {
      .Content {
        p {
          .BlackLayerModal {
            .EnlargedImage {
              width: 92%;
            }
            .CloseIcon {
              right: 4%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1136px) {
  .DetailPage {
    padding: 70px 0 80px 0;
    .ContentContainer {
      .Content {
        p {
          img {
            width: calc(100% + 128px);
            margin-left: -64px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 872px) {
  .DetailPage {
    .ContentContainer {
      .Content {
        p {
          margin-bottom: 48px;
          img {
            width: 100%;
            margin-left: unset;
          }

          &:last-child {
            margin-bottom: 64px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 744px) {
  //680+32+32=744
  .DetailPage {
    .ContentContainer {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .DetailPage {
    .ContentContainer {
      .Tagline {
        margin-bottom: 32px;
      }
      .Content {
        p {
          margin-bottom: 32px;

          &:last-child {
            margin-bottom: 48px;
          }
        }
      }
    }
  }
}
