@import "../../shared/variables.scss";

.HomePage {
  padding-bottom: 160px;

  .IntroductionSection {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 140px;

    .PortraitKoen {
      width: 140px;
      margin-bottom: 16px;
    }

    h1 {
      margin-bottom: 16px;
    }

    p {
      font-size: $fnt-size-big;
      margin-bottom: 16px;
    }
  }
  .ProjectsSection {
    .ProjectsSectionTitle {
      margin-bottom: 48px;
    }

    .ProjectPreviewItems {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 600px) {
  .HomePage {
    padding-bottom: 96px;

    .IntroductionSection {
      margin-top: 80px;
      margin-bottom: 96px;

      .PortraitKoen {
        width: 120px;
      }
      p {
        font-size: $fnt-size-medium;
      }
    }
    .ProjectsSection {
      .ProjectsSectionTitle {
        margin-bottom: 32px;
      }
    }
  }
}
